<html lang="en">

<head>
  <%- include('components/head.ejs') %>
  <link rel="stylesheet" type="text/css" href="/css/main-style.css">
  <title>Lista de Mangás</title>
</head>

<body>
  <main>
    <form action="/manga/add" method="POST" class="add-manga">
      <label for="title" class="form-label">Título</label>
      <input type="text" name="title" placeholder="Ex: Dragonball" class="form-input">

      <label for="title" class="form-label">Autor</label>
      <input type="text" name="author" placeholder="Ex: Akira Toriyama" class="form-input">

      <label for="title" class="form-label">Ano de Publicação</label>
      <input type="month" name="publish_year" class="form-input">

      <div class="form-btn-group">
        <button type="submit" class="form-btn">Adicionar</button>
        <button type="reset" class="form-btn">Resetar</button>
      </div>
    </form>
    <table>
      <tr>
        <th>ID</th>
        <th>Titulo</th>
        <th>Autor</th>
        <th>Ano de publicação</th>
      </tr>
      <% if (data) {%>
      <% data.forEach(row => { %>
      <tr>
        <td><%= row.id %></td>
        <td><%= row.title %></td>
        <td><%= row.author %></td>
        <td><%= row.publish_year.getMonth() + 1 %> <%= row.publish_year.getFullYear() %></td>
        <td>
          <button>Editar</button>
          <a href="/manga/delete/<%= row.id %>">Remover</a>
        </td>
      </tr>
      <% }) %>
      <% } %>
    </table>
  </main>
</body>

</html>