<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('components/head.ejs') %>
  <link rel="stylesheet" type="text/css" href="/css/manga-list.css">
  <title>YourManga</title>
</head>

<body>
  <header>
    <a href="/"><--</a>
  </header>
  <main>
    <form action="/manga/add" method="POST" class="add-form">
      <h1>Adicionar Mangá</h1>

      <label for="title" class="form-label">Título</label>
      <input type="text" name="title" placeholder="Ex: Dragonball" class="form-input">

      <label for="title" class="form-label">Autor</label>
      <input type="text" name="author" placeholder="Ex: Akira Toriyama" class="form-input">

      <label for="synopsis" class="form-label">Sinopse</label>
      <textarea name="synopsis" cols="5" rows="5" maxlength="200" class="form-input textarea" placeholder="A história conta a jornada de Son Goku, um garoto ingênuo e puro com cauda de macaco e uma força extraordinária que busca as 7 Esferas do Dragão com seus amigos."></textarea>

      <label for="title" class="form-label">Ano de Publicação</label>
      <input type="month" name="publish_year" class="form-input">

      <div class="form-btn-group">
        <button type="submit" class="form-btn">Adicionar</button>
        <button type="reset" class="form-btn">Resetar</button>
      </div>
    </form>
    <div class="data">
      <table>
        <tr>
          <th>Título</th>
          <th>Autor</th>
          <th>Ano de publicação</th>
        </tr>
        <% if (data) {%>
        <% function hello() { console.log('HELLO'); } %>
        <% data.forEach((row, i) => { %>
        <tr>
          <td><%= row.title %></td>
          <td><%= row.author %></td>
          <td><%= row.publish_year.getMonth() + 1 %>/<%= row.publish_year.getFullYear() %></td>
          <td class="table-item-actions">
            <a href="/manga/<%= row.id %>">Ver mais</a>
            <a href="/manga/delete/<%= row.id %>">Remover</a>
          </td>
        </tr>
        <% }) %>
        <% } %>
      </table>
    </div>
  </main>
  <div class="edit-form" id="edit-form">
    <form action="/manga/update" method="POST" id="form-update">
      <h1>Editar Mangá</h1>

      <label for="title" class="form-label">Título</label>
      <input type="text" name="title" placeholder="Ex: Dragonball" class="form-input" id="title">

      <label for="title" class="form-label">Autor</label>
      <input type="text" name="author" placeholder="Ex: Akira Toriyama" class="form-input" id="author">

      <label for="title" class="form-label">Ano de Publicação</label>
      <input type="month" name="publish_year" class="form-input" id="publish_year">

      <div class="form-btn-group">
        <button type="submit" class="form-btn">Atualizar</button>
        <button type="reset" class="form-btn">Resetar</button>
      </div>
    </form>
    <button class="close-btn" onclick="closeModal()">X</button>
  </div>

  <script>
    const modal = document.querySelector('#edit-form');
    const formUpdate = document.querySelector('#form-update');
    const inputTitle = document.querySelector('#title');
    const inputAuthor = document.querySelector('#author');
    const inputPublishYear = document.querySelector('#publish_year');

    closeModal();

    window.onclick = function (event) {
      if (event.target == modal) {
        closeModal();
      }
    }

    function openModal(id = 0) {
      const URL_TO_FETCH = `http://localhost:3000/manga/${id}`;
      fetch(URL_TO_FETCH, {
        method: 'get'
      })
        .then(function (response) {
          response.json().then(function (data) {
            const manga = data.manga[0];
            inputTitle.value = manga.title;
            inputAuthor.value = manga.author;
            inputPublishYear.value = formatDate(new Date(manga.publish_year));
            formUpdate.action = `/manga/update/${manga.id}`;
          });
        })
        .catch(function (err) { alert(err); });

      modal.style.display = 'flex';
    }

    function closeModal() {
      modal.style.display = 'none';
    }

    function formatDate(date = new Date()) {
      let result = '';
      result += `${date.getFullYear()}-`;

      if (date.getMonth() < 9) {
        result += `0${date.getMonth()+1}`;
      } else {
        result += `${date.getMonth()+1}`;
      }
      return result;
    }
  </script>
</body>

</html>